# Folders with sensitive information about the customers

# Ignore JSON files
*.json

# Ignore CSV files
*.csv

# se comenta porque se agrego requirements.txt como requisito de docker
# Ignore TXT files
#*.txt

# Ignore Excel files
*.xls
*.xlsx
*.xlsm

# ignore .tar files from docker
*.tar

# ignore power BI files
*.pbix

